* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  color: #fff;
}

.bg-blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.side-container {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 0;
  height: 40rem;
  margin: auto auto;
  min-width: 40rem;
  border-radius: 1rem;
}

.tetris-container {
  margin: 0 auto;
  width: 47rem;
  background-color: #3e4444;
  border-radius: 2em;
}

.tetris-header {
  height: 6rem;
}
.tetris-columns {
  display: flex;
}

.tetris-footer {
  padding: 0.4rem 0;
}
.glass {
  box-sizing: border-box;
  width: 90%;
  border-radius: 1rem;
  padding: 1rem;
  display: block;
  margin: 1rem auto;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  cursor: pointer;
  font-family: Pixel, Arial, Helvetica, sans-serif;
}
